<a href="https://colab.research.google.com/github/kevingray92/ATMS-597-Project-5/blob/ReadMETAR/ReadMETAR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install metpy

Collecting metpy
  Downloading https://files.pythonhosted.org/packages/f3/6c/a8a232cfeafc61c4438bc6768bdcd28ef21a0a21611052a1469547041686/MetPy-0.12.0-py3-none-any.whl (319kB)
     |████████████████████████████████| 327kB 4.9MB/s
Collecting pooch>=0.1
  Downloading https://files.pythonhosted.org/packages/66/ad/df0a1023b40c122d6e7c01ea1ebb69b04c6c5f97871df1dc863cb77c78e4/pooch-1.1.0-py3-none-any.whl (44kB)
     |████████████████████████████████| 51kB 7.7MB/s
Requirement already satisfied: pandas>=0.22.0 in /usr/local/lib/python3.6/dist-packages (from metpy) (1.0.3)
Collecting pint>=0.8
  Downloading https://files.pythonhosted.org/packages/9d/db/7a2204b03c22069839958df5723eb2718d50c33052e0da84c9a83de14ea4/Pint-0.11-py2.py3-none-any.whl (186kB)
     |████████████████████████████████| 194kB 9.9MB/s
Requirement already satisfied: numpy>=1.13.0 in /usr/local/lib/python3.6/dist-packages (from metpy) (1.18.2)
Requirement already satisfied: matplotlib>=2.1.0 in /usr/local/lib/python3.6/dist-packages (from metpy) (3.2.1)
Requirement already satisfied: xarray>=0.10.7 in /usr/local/lib/python3.6/dist-packages (from metpy) (0.15.1)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.6/dist-packages (from metpy) (1.4.1)
Requirement already satisfied: traitlets>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from metpy) (4.3.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from pooch>=0.1->metpy) (20.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from pooch>=0.1->metpy) (2.21.0)
Collecting appdirs
  Downloading https://files.pythonhosted.org/packages/56/eb/810e700ed1349edde4cbdc1b2a21e28cdf115f9faf263f6bbf8447c1abf3/appdirs-1.4.3-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.22.0->metpy) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.22.0->metpy) (2018.9)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from pint>=0.8->metpy) (46.1.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.1.0->metpy) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.1.0->metpy) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=2.1.0->metpy) (0.10.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.3.0->metpy) (0.2.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.3.0->metpy) (4.4.2)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.3.0->metpy) (1.12.0)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->pooch>=0.1->metpy) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->pooch>=0.1->metpy) (1.24.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->pooch>=0.1->metpy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->pooch>=0.1->metpy) (2020.4.5.1)
Installing collected packages: appdirs, pooch, pint, metpy
Successfully installed appdirs-1.4.3 metpy-0.12.0 pint-0.11 pooch-1.1.0

In [2]:
import numpy as np
import pandas as pd
from datetime import datetime
import metpy
import metpy.io

Downloading file 'sfstns.tbl' from 'https://github.com/Unidata/MetPy/raw/v0.12.0/staticdata/sfstns.tbl' to '/root/.cache/metpy/v0.12.0'.
Downloading file 'master.txt' from 'https://github.com/Unidata/MetPy/raw/v0.12.0/staticdata/master.txt' to '/root/.cache/metpy/v0.12.0'.
Downloading file 'stations.txt' from 'https://github.com/Unidata/MetPy/raw/v0.12.0/staticdata/stations.txt' to '/root/.cache/metpy/v0.12.0'.
Downloading file 'airport-codes.csv' from 'https://github.com/Unidata/MetPy/raw/v0.12.0/staticdata/airport-codes.csv' to '/root/.cache/metpy/v0.12.0'.
Cannot import USCOUNTIES and USSTATES without Cartopy installed.

In [260]:
###Download the METAR data
!wget ftp://ftp.ncdc.noaa.gov/pub/data/asos-fivemin/6401-2000/64010KMSN200012.dat

--2020-04-15 20:32:45--  ftp://ftp.ncdc.noaa.gov/pub/data/asos-fivemin/6401-2000/64010KMSN200012.dat
           => ‘64010KMSN200012.dat’
Resolving ftp.ncdc.noaa.gov (ftp.ncdc.noaa.gov)... 205.167.25.101, 2610:20:8040:2::101
Connecting to ftp.ncdc.noaa.gov (ftp.ncdc.noaa.gov)|205.167.25.101|:21... connected.
Logging in as anonymous ... Logged in!
==> SYST ... done.    ==> PWD ... done.
==> TYPE I ... done.  ==> CWD (1) /pub/data/asos-fivemin/6401-2000 ... done.
==> SIZE 64010KMSN200012.dat ... 1068144
==> PASV ... done.    ==> RETR 64010KMSN200012.dat ... done.
Length: 1068144 (1.0M) (unauthoritative)

64010KMSN200012.dat 100%[===================>]   1.02M   791KB/s    in 1.3s

2020-04-15 20:32:47 (791 KB/s) - ‘64010KMSN200012.dat’ saved [1068144]

In [0]:
###Read the METAR file. An error will result after the last line, but the data should be saved to the decoded_metar DataFrame.
### OLD. Not flexible to skipping lines
#month = 7
#with open('64010KMSN200007.dat','r') as metar_file:
#    metar_line = metar_file.readline()
#    metar_line_clean = metar_line[53:] #Get rid of first 53 characters in each line, superfluous info
#    decoded_metar = metpy.io.parse_metar_to_dataframe(metar_line_clean, year=2000, month=month) #decode the METAR
#    decoded_metar = decoded_metar.set_index(keys='date_time')
#    cnt = 1 #Start a counter
#    while metar_line:
#        metar_line = metar_file.readline()
#        metar_line_clean = metar_line[53:]
#        decoded_metar_line = metpy.io.parse_metar_to_dataframe(metar_line_clean, year=2000, month=month)
#        decoded_metar_line = decoded_metar_line.set_index(keys='date_time')
#        decoded_metar = decoded_metar.append(decoded_metar_line)
#        decoded_metar
#        cnt = cnt+1

In [261]:
###Read the METAR file. An error will result after the last line, but the data should be saved to the decoded_metar DataFrame.
###NEW. Will skip any lines that the parser doesn't like.
month = 12
with open('64010KMSN200012.dat','r') as metar_file:
    metar_line = metar_file.readline()
    metar_line_clean = metar_line[53:] #Get rid of first 53 characters in each line, superfluous info
    decoded_metar = metpy.io.parse_metar_to_dataframe(metar_line_clean, year=2000, month=month) #decode the METAR
    decoded_metar = decoded_metar.set_index(keys='date_time')
    cnt = 1 #Start a counter
    while metar_line:
        try:
            metar_line = metar_file.readline()
            metar_line_clean = metar_line[53:]
            decoded_metar_line = metpy.io.parse_metar_to_dataframe(metar_line_clean, year=2000, month=month)
            decoded_metar_line = decoded_metar_line.set_index(keys='date_time')
            decoded_metar = decoded_metar.append(decoded_metar_line)
            decoded_metar
            cnt = cnt+1
        except:
            print("Skipping this entry...")

/usr/local/lib/python3.6/dist-packages/metpy/calc/basic.py:1011: RuntimeWarning: All-NaN slice encountered
  if np.greater(np.nanmax(np.abs(value)), max_radians):

Skipping this entry...

In [262]:
decoded_metar
#decoded_metar.tail(14)

                    station_id  latitude  ...  eastward_wind  northward_wind
date_time                                 ...
2000-12-01 06:00:00       KMSN     43.13  ...      -3.939231       -0.694593
2000-12-01 06:05:00       KMSN     43.13  ...      -2.954423       -0.520945
2000-12-01 06:10:00       KMSN     43.13  ...      -3.939231       -0.694593
2000-12-01 06:15:00       KMSN     43.13  ...      -4.924039       -0.868241
2000-12-01 06:20:00       KMSN     43.13  ...      -4.698463       -1.710101
...                        ...       ...  ...            ...             ...
2000-12-01 05:35:00       KMSN     43.13  ...       0.000000        0.000000
2000-12-01 05:40:00       KMSN     43.13  ...       0.000000        0.000000
2000-12-01 05:45:00       KMSN     43.13  ...       0.000000        0.000000
2000-12-01 05:50:00       KMSN     43.13  ...       0.000000        0.000000
2000-12-01 05:55:00       KMSN     43.13  ...       0.000000        0.000000

[7728 rows x 27 columns]

In [263]:
##Standard adjustment
df2 = decoded_metar.iloc[[-72]]
number_of_lines_to_fix = np.arange(71)
for i in number_of_lines_to_fix:
    i = 71-i
    df2 = df2.append(decoded_metar.iloc[[-i]])
df2

##Manual adjustment
#df2 = decoded_metar.iloc[[-14]]
#number_of_lines_to_fix = np.arange(13)
#for i in number_of_lines_to_fix:
#    i = 13-i
#    df2 = df2.append(decoded_metar.iloc[[-i]])
#df2

                    station_id  latitude  ...  eastward_wind  northward_wind
date_time                                 ...
2000-12-01 00:00:00       KMSN     43.13  ...      -4.596267       -3.856726
2000-12-01 00:05:00       KMSN     43.13  ...      -4.330127       -2.500000
2000-12-01 00:10:00       KMSN     43.13  ...      -3.464102       -2.000000
2000-12-01 00:15:00       KMSN     43.13  ...      -3.758770       -1.368081
2000-12-01 00:20:00       KMSN     43.13  ...      -2.819078       -1.026060
...                        ...       ...  ...            ...             ...
2000-12-01 05:35:00       KMSN     43.13  ...       0.000000        0.000000
2000-12-01 05:40:00       KMSN     43.13  ...       0.000000        0.000000
2000-12-01 05:45:00       KMSN     43.13  ...       0.000000        0.000000
2000-12-01 05:50:00       KMSN     43.13  ...       0.000000        0.000000
2000-12-01 05:55:00       KMSN     43.13  ...       0.000000        0.000000

[72 rows x 27 columns]

In [264]:
df2.index = df2.index + pd.DateOffset(months = 1)
df2

                    station_id  latitude  ...  eastward_wind  northward_wind
date_time                                 ...
2001-01-01 00:00:00       KMSN     43.13  ...      -4.596267       -3.856726
2001-01-01 00:05:00       KMSN     43.13  ...      -4.330127       -2.500000
2001-01-01 00:10:00       KMSN     43.13  ...      -3.464102       -2.000000
2001-01-01 00:15:00       KMSN     43.13  ...      -3.758770       -1.368081
2001-01-01 00:20:00       KMSN     43.13  ...      -2.819078       -1.026060
...                        ...       ...  ...            ...             ...
2001-01-01 05:35:00       KMSN     43.13  ...       0.000000        0.000000
2001-01-01 05:40:00       KMSN     43.13  ...       0.000000        0.000000
2001-01-01 05:45:00       KMSN     43.13  ...       0.000000        0.000000
2001-01-01 05:50:00       KMSN     43.13  ...       0.000000        0.000000
2001-01-01 05:55:00       KMSN     43.13  ...       0.000000        0.000000

[72 rows x 27 columns]

In [265]:
##Standard drop
decoded_metar.drop(decoded_metar.tail(72).index,inplace=True)
decoded_metar

##Manual drop
#decoded_metar.drop(decoded_metar.tail(14).index,inplace=True)
#decoded_metar

                    station_id  latitude  ...  eastward_wind  northward_wind
date_time                                 ...
2000-12-01 06:00:00       KMSN     43.13  ...      -3.939231       -0.694593
2000-12-01 06:05:00       KMSN     43.13  ...      -2.954423       -0.520945
2000-12-01 06:10:00       KMSN     43.13  ...      -3.939231       -0.694593
2000-12-01 06:15:00       KMSN     43.13  ...      -4.924039       -0.868241
2000-12-01 06:20:00       KMSN     43.13  ...      -4.698463       -1.710101
...                        ...       ...  ...            ...             ...
2000-12-31 23:35:00       KMSN     43.13  ...      -4.596267       -3.856726
2000-12-31 23:40:00       KMSN     43.13  ...      -4.596267       -3.856726
2000-12-31 23:45:00       KMSN     43.13  ...      -3.856726       -4.596267
2000-12-31 23:50:00       KMSN     43.13  ...      -3.830222       -3.213938
2000-12-31 23:55:00       KMSN     43.13  ...      -4.596267       -3.856726

[7656 rows x 27 columns]

In [266]:
decoded_metar = decoded_metar.append(df2)
decoded_metar

                    station_id  latitude  ...  eastward_wind  northward_wind
date_time                                 ...
2000-12-01 06:00:00       KMSN     43.13  ...      -3.939231       -0.694593
2000-12-01 06:05:00       KMSN     43.13  ...      -2.954423       -0.520945
2000-12-01 06:10:00       KMSN     43.13  ...      -3.939231       -0.694593
2000-12-01 06:15:00       KMSN     43.13  ...      -4.924039       -0.868241
2000-12-01 06:20:00       KMSN     43.13  ...      -4.698463       -1.710101
...                        ...       ...  ...            ...             ...
2001-01-01 05:35:00       KMSN     43.13  ...       0.000000        0.000000
2001-01-01 05:40:00       KMSN     43.13  ...       0.000000        0.000000
2001-01-01 05:45:00       KMSN     43.13  ...       0.000000        0.000000
2001-01-01 05:50:00       KMSN     43.13  ...       0.000000        0.000000
2001-01-01 05:55:00       KMSN     43.13  ...       0.000000        0.000000

[7728 rows x 27 columns]

In [267]:
##Standard check
decoded_metar.iloc[[-72]]

##Manual check
#decoded_metar.iloc[[-14]]

           station_id  latitude  ...  eastward_wind  northward_wind
date_time                        ...
2001-01-01       KMSN     43.13  ...      -4.596267       -3.856726

[1 rows x 27 columns]

In [0]:
#Run once to get decoded_matar_master dataframe started
#decoded_metar_master = decoded_metar

In [0]:
decoded_metar_master = decoded_metar_master.append(decoded_metar)

In [270]:
decoded_metar_master

                    station_id  latitude  ...  eastward_wind  northward_wind
date_time                                 ...
2000-01-01 06:00:00       KMSN     43.13  ...       3.420201        9.396926
2000-01-01 06:05:00       KMSN     43.13  ...       3.078181        8.457234
2000-01-01 06:10:00       KMSN     43.13  ...       3.078181        8.457234
2000-01-01 06:15:00       KMSN     43.13  ...       3.078181        8.457234
2000-01-01 06:20:00       KMSN     43.13  ...       3.078181        8.457234
...                        ...       ...  ...            ...             ...
2001-01-01 05:35:00       KMSN     43.13  ...       0.000000        0.000000
2001-01-01 05:40:00       KMSN     43.13  ...       0.000000        0.000000
2001-01-01 05:45:00       KMSN     43.13  ...       0.000000        0.000000
2001-01-01 05:50:00       KMSN     43.13  ...       0.000000        0.000000
2001-01-01 05:55:00       KMSN     43.13  ...       0.000000        0.000000

[99641 rows x 27 columns]

In [0]:
#decoded_metar_master.to_csv('drive/My Drive/decoded_metar_master_through05.csv')
decoded_metar_master.to_csv('drive/My Drive/decoded_metar_master.csv')

In [0]:
###For when you mess up
#decoded_metar_master_through05 = pd.read_csv('drive/My Drive/decoded_metar_master_through05.csv')
#decoded_metar_master_through05 = decoded_metar_master_through05.set_index(keys='date_time')
#decoded_metar_master_through05
#decoded_metar_master = decoded_metar_master_through05